* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f7f9;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #0366d6;
  text-decoration: none;
}

.cursor {
  cursor: pointer;
}

.fr { float: right !important; }
.fl { float: left !important; }
.db { display: block; }
.dib { display: inline-block; }

.black { color: #000 !important; }
.bg_white { background: #fff !important; }

.pointer { cursor: pointer;}
.u_line { text-decoration: underline; }
.tc { text-align: center !important; }
.tl { text-align: left !important; }
.tr { text-align: right !important; }

.over_hide {
  overflow: hidden;
  height: 100px;
  word-break: break-all;
  text-align: left;
}

.text_ellipsis {
  @extend %text-ellipsis;
}

.text_breakWord {
  @extend %text_breakWord;
}

.pl30 { padding-left: 30px; }
.pr30 { padding-right: 30px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.ml20 { margin-left: 20px; }
.mr20 { margin-right: 20px; }
.ml30 { margin-left: 30px !important; }
.mr30 { margin-right: 30px !important; }

// 调整表格间距
.el-table .cell, .el-table th > div {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

// 商品列表页里的评分，icon 小一些
.goods_table,
.order_table {
  .el-rate__icon {
    font-size: 12px !important;
  }

  thead th {
    text-align: center !important;
  }
}
